@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


* {
    font-family: 'Poppins'

}

.container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.row {
    padding: 12px;
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 auto;
}

.col {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
    width: 100%;
    padding: 12px;
}

.col-4 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
}

.button {
    align-items: center;
    border-radius: 4px;
    border: none;
    display: inline-flex;
    flex: 0 0 auto;
    font-weight: 600;
    justify-content: center;
    position: relative;
    text-decoration: none;
    color: white;
    height: 40px;
    width: 50%;
    font-size: 1rem;
    cursor: pointer;
    background-color: #2766bc !important;
    border-color: #2766bc !important;
}



body {
    width: 90%;
    margin: 0 auto;
}

@media (max-width: 650px) {
    body {
        width: 75%;
    }
}

@media (max-width: 430px) {
    body {
        width: 100%;
    }
}

code,
.code,
pre {
    background: #292929;
    color: #77fbd0;
    font-size: 16px;
    font-weight: 500;
    padding: 0;
    padding: 10px;
    border-radius: 10px;

}

code>p {
    font-family: 'JetBrains Mono' !important;
}